<style>
  .search-btn{
    background-color:#fe424d;
    color: #fff;
    border-radius: 1.4rem;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input{
    border-radius: 1.4rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }

.btn-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: white !important;
  width: 5.75rem;
}
.btn-icon i{
  color: rgb(79, 79, 79);
}
.fa-circle-user{
  font-size: 2rem;
  margin-left: 0.7rem;
}
.dropdown-toggle::after { 
  content: none; 
} 
.links{
  margin-right: 2rem;
}
.dropdown-menu{
  border: none;
}
.names{
  color: black;
}
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listing">Explore</a>
        </div>
        <div class="navbar-nav ms-auto">
          <form method="get" action="/filter/search" class="d-flex" role="search">
            <input class="form-control me-2 search-input" type="search" name="destination" placeholder="Search destinations">
            <button class="btn search-btn " type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>

        <div class="navbar-nav ms-auto">
          <a class="nav-link links" href="/listing/new">New listing</a>
          
          <div class="dropdown drop">
            <button class="btn btn-secondary dropdown-toggle btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-bars"></i>
              <i class="fa-solid fa-circle-user"></i>
            </button>
          <ul class="dropdown-menu">
            <%if(!currUser){%> 
              <a class="nav-link dropdown-item" href="/signup"><b>Signup</b></a>
              <a class="nav-link dropdown-item" href="/login"><b>Login</b></a>
              
            <%}%>
           <%if(currUser){%>
            <a class="nav-link" href="/bookings/<%=currUser._id%>">Booking</a>
            <a class="nav-link" href="/logout">Logout</a>
          <% }%>
          </ul>
        </div>

          
        </div>
      </div>
    </div>
  </nav>
<script src="/controllers/listing.js"></script>