body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    padding: 1rem 0 1rem 0 !important;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.f-info-socials, .f-info-company, .f-info-links{
    width: 100%;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* cards */
.listing-card{
    border-style: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.listing-link:hover{
    opacity: 0.8;
}

/* new page */
.add-btn{
    background-color:  #fe424d !important;
    border: none !important;
}
.edit-btn{
    background-color:  #fe424d !important;
    border: none !important;
    width: 5rem;
}
/* show page */

.show-img{
    height: 34vh;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    /* margin-right: 2rem; */
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* map */
#map { 
    height: 25rem;
    width: 100%;
 }

 
 